# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv/
*.env
*.venv

# OS files
.DS_Store
Thumbs.db
